@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'bpg arial';
  src: url('/public/fonts/bpg_arial_2009.ttf');
}

body {
  background-color: #eaeaea;
  overflow: hidden;
  font-family: 'bpg arial';
}

.landing-btn-hover:hover {
  text-shadow: 2px 0px black;
  -webkit-text-stroke: 1px white;
}

.zoom {
  animation: zoom-out 2s ease-in-out forwards;
}
.reveal-text {
  animation: reveal-text 2s ease-in-out forwards;
  animation-delay: 2s;
}

.rectangle {
  animation: toRectangle 1s ease-out forwards;
  fill: rgb(214, 209, 110);
}

@keyframes zoom-out {
  from {
    transform: scale(100);
  }
  to {
    transform: scale(1);
  }
}

@keyframes reveal-text {
  from {
    bottom: 0;
  }
  to {
    bottom: -80px;
  }
}

@keyframes toRectangle {
  0% {
    transform: translate(-50%, 40%);
    width: 100px;
    height: 100px;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    transform: translate(0, 0);
    width: 70%;
    height: 75px;
    border-radius: 0;
    rx: 0;
    ry: 0;
    opacity: 0;
  }
}
