@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'bpg arial';
  src: url('/fonts/bpg_arial_2009.ttf');
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
}
body {
  background-color: #eaeaea;
  overflow: hidden;
  font-family: 'bpg arial';
}
input[type='radio'] {
  accent-color: black;
  flex-shrink: 0;
}

.landing-btn-hover:hover {
  text-shadow: 2px 0px black;
  -webkit-text-stroke: 1px white;
}

.circle-to-rectangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  background-color: rgba(130, 9, 9, 0.675);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: circle-to-rectangle 0.5s ease-out forwards;
}

.rectangle-to-circle {
  position: absolute;
  border-radius: 0;
  background-color: rgba(255, 255, 0, 0.271);
  width: 700px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 250px;
  transform: translateX(100px);
  animation: rectangle-to-circle 0.5s ease-out forwards;
}

.circle-to-star {
  position: absolute;
  top: 45%;
  left: 57%;
  transform: translate(-50%, -50%);
  background-color: rgba(130, 9, 9, 0.675);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: circle-to-star .5s ease-out forwards;
}

.star-to-heart{
  position: absolute;
  top: 45%;
  left: 57%;
  transform: translate(-50%, -50%);
  background-color: rgba(130, 9, 9, 0.675);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: star-to-heart .5s ease-in-out forwards;
}

@keyframes star-to-heart{
  100%{
    background-color: rgba(255, 97, 97, 0.87);
    height: 180px;
    width: 180px;
    opacity: 0;
    top: 250px;
    transform: translateX(100px);
  }
}

.heart-growing{
  animation: heart-growing 2s forwards ease-in-out;
  position: absolute;
  z-index: 20;
}
.heart-growing img{
  animation: heart-growing-image 2s ease-in-out;
  scale: 0;
}
@keyframes heart-growing-image {
  0%{
    scale: 1
  }
  99%{
    scale :1
  }
  100%{
    filter:grayscale(100%) brightness(.2);
  }
}

@keyframes heart-growing {
  0%{
    opacity: 1;
  }
  90%{
    background-color: transparent;
  }
  100%{
    scale: 18;
    opacity: 1;
    top:70%;
    right:50%;
    opacity: 1;
    background-color: rgb(38 38 38);

  }
}

.zoom {
  animation: zoom-out 2s ease-in-out forwards;
}
.reveal-text {
  animation: reveal-text 2s ease-in-out forwards;
  animation-delay: 2s;
}

.thanks-container {
  animation: fadeIn 2s ease-out forwards;
}

.big-star {
  animation: bigStar 0.5s forwards ease;
  animation-delay: 2s;
  scale: 0;
}
.small-star {
  animation: smallStar 0.5s forwards ease;
  animation-delay: 2s;
  scale: 0;
}



@keyframes circle-to-star{
  50%{
    opacity: .8
  }
  70%{
    scale:1
  }
  100%{
    background-color: rgba(255, 255, 0, 0.271);
    top:200px;
    transform:translateX(50px);
    scale:0;
  }
}

@keyframes circle-to-rectangle {
  100% {
    border-radius: 0;
    background-color: rgba(255, 255, 0, 0.271);
    width: 700px;
    height: 80px;
    opacity: 0;
    top: 250px;
    transform: translateX(100px);
  }
}

@keyframes rectangle-to-circle {
  50% {
    opacity: 0.8;
  }
  100% {
    position: absolute;
    top: 45%;
    left: 57%;
    transform: translate(-50%, -50%);
    background-color: rgba(130, 9, 9, 0.675);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smallStar {
  0% {
    right: 50px;
    bottom: 10px;
    scale: 0;
  }
  100% {
    bottom: -3.5rem;
    right: 1rem;
    scale: 1;
  }
}
@keyframes bigStar {
  0% {
    left: 50px;
    top: 10px;
    scale: 0;
  }
  100% {
    top: -4rem;
    left: 1rem;
    scale: 1;
  }
}

@keyframes zoom-out {
  from {
    transform: scale(100);
  }
  to {
    transform: scale(1);
  }
}

@keyframes reveal-text {
  from {
    bottom: 0;
  }
  to {
    bottom: -80px;
  }
}
