@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'bpg arial';
  src: url('/public/fonts/bpg_arial_2009.ttf');
}

body {
  background-color: #eaeaea;
  overflow: hidden;
  font-family: 'bpg arial';
}

.landing-btn-hover:hover {
  text-shadow: 2px 0px black;
  -webkit-text-stroke: 1px white;
}

.zoom {
  animation: zoom-out 2s ease-in-out forwards;
}
.reveal-text {
  animation: reveal-text 2s ease-in-out forwards;
  animation-delay: 2s;
}
@keyframes zoom-out {
  from {
    transform: scale(100);
  }
  to {
    transform: scale(1);
  }
}

@keyframes reveal-text {
  from {
    bottom: 0;
  }
  to {
    bottom: -80px;
  }
}
